<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="container-fluid" >
  <div class="row">
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Track Stocks</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="openDialog()">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>  
  <div class="row" >
    <div class="col-md-4" style="background-color:#424242;">
      <mat-card>
        <mat-card-title>Your List</mat-card-title>  
      </mat-card>
      <div *ngIf="l_p.length != 0" >
        <mat-card *ngFor="let stock of stock_list; let i = index" id="stocks" >
          <mat-card-title style="color: white;" (mouseenter)="selectForChart(stock)">{{stock.symbol}}
          
          <span *ngIf="l_p[i].c >= l_p[i].pc" style="color: #00FF00; float: right;">
            {{ l_p[i].c | number : '1.2-2' }}</span>
          <span *ngIf="l_p[i].c < l_p[i].pc" style="color: #FF0000; float: right;" >{{ l_p[i].c | number : '1.2-2' }}</span>
          </mat-card-title>  
        </mat-card>
      </div>
    </div>
    <div class="col-md-8" style="background-color:#212121;">
      <div id="divChart">
        <app-charts [selectedStock]="chart_stock"></app-charts>
      </div>
    </div>
  </div>   
  
  <!-- Resources -->
  
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


